html
{
  background-color: darkgray;
  font-family: 'Cantarell', sans-serif;
  color: ghostwhite;
  font-variant: small-caps;
}
header
{
  position: fixed;
  width: 100%;
  height: 57px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  fill: rgba(200,0,110,.5);
}
header nav, header div
{
  width: 90%;
  height: 80%;
  margin: 0 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

header nav {
  display: none;
}

header h1  {
    font-size: 1,4rem;
}
header a
{
  height: 100%;
  display: flex;
  align-content: center;
  color: rgba(200,0,110,.6);
  fill: rgba(200,0,110,.6);
  font-size: 1.4rem;
}
header a:hover {
    fill: rgba(200,0,110,.85);
    color: rgba(200,0,110,.85);
}

header nav {
  justify-content: center;
}

header nav a:last-child {
    margin-right: 1rem;
}
.svg-header {
  display: none;
  width: 6rem;
  margin-left: -1rem;
}

#idx-atf {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  background-image: url("../img/background-photo-mobile-devices.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
}

#idx-atf > div {
  height: 80vh;
}

.idx-center-spacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

section#idx-atf h1 {
  font-size: 1.8rem;
  margin-top: 60px;
}

h2, h3 {
  font-size: 1.4rem;
  margin-bottom: 25px;
  margin-top: 25px;
}

h3 {
  font-weight: 700;
  margin-bottom: .7rem;
}
button {
  padding: 0.7rem;
  border: .05rem solid ghostwhite;
  border-radius: 9px;
  background-color: rgba(200,0,110,.11);
  vertical-align: baseline;
}

button:hover {
  background-color: rgba(200,0,110,.5);
  cursor: pointer;
}

footer {
  background-color: olive;
}

footer nav {
  font-size: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

footer nav a {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

footer nav a svg {
  padding-right: 2rem;
}

#ccc {
  line-height: 2;
}
